<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="author", content="Jack Scott")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="keywords", content="javascript,app,development")
  meta(name="description" content="Blog on sweet software and awesome applications")

  block title
    title App Dev Blog

  <!-- build:css vendor.min.css -->
  <!-- manually insert vendor/bower file links here... -->
  <!-- endbuild -->

  <!-- inject:css -->
  <!-- css files will go here... -->
  <!-- endinject -->
body
  block content

  <!-- build:js vendor.min.js -->
  <!-- manually insert vendor/bower file links here... -->
  <!-- endbuild -->

  <!-- inject:js -->
  <!-- js files will go here... -->
  <!-- endinject -->
