<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="author", content="Jack Scott")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="keywords", content="javascript,app,development")
  meta(name="description" content="Blog on sweet software and awesome applications")
  
  block title
    title App Dev Blog

  <!-- bower:css -->
  <!-- bower installed css files will go here... -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- css files will go here... -->
  <!-- endinject -->
body
  block content
  
  <!-- bower:js -->
  <!-- bower installed scripts will go here... -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- js files will go here... -->
  <!-- endinject -->