extends _layouts/base.jade

block title
  title Home
  
block content
  .header
    .container
      .row
        .col-sm-12
          h1.display-3 JACK SCOTT'S BLOG
          br
          h1.text-muted app development, magic, and everything between